# Dependencies
/node_modules

# Build artifacts
# /built_extension is intentionally not ignored as per user request.

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
